* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open-Sans", sans-serif;
    text-align: center;
}
body {
    margin: 0 auto;
    max-width: 1024px;
}
ul {
    list-style: none;
    padding-left: 0;
}

.container {
    max-width: 1100px;
    padding: 10px;
    margin: 0 auto;
    font-family: "Open-Sans", sans-serif;
  }
  .col {
    margin: 10px;
    min-height: 250px;
    color: white;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 5px;
  }
    .box-1 {
    background-color: #093145;
  }
  
  .box-2 {
    background-color: #3C6478;
  }
  
  .box-3 {
    background-color: #107896;
  }
  
  .box-4 {
    background-color: #829356;
  }
  
  .box-5 {
    background-color: #C2571A;
  }
  
  .box-6 {
    background-color: #9A2617;
  }

img {
    max-width: 100%
}
nav {
    font-family: "Open-Sans", sans-serif;
    font-weight: 400;
    letter-spacing: .05em;
    background-color: #f8faf1;
    padding: 25px;
}

.nav li,
h2 {
    list-style: none;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px;
    font-size: 17px;
}

h3 {
    font-weight: 600;
}

#top {
    text-transform: uppercase;
}

.top {
    margin: 16px 0;
}

a {
    text-decoration: none;
    color: cyan;
}

a:visited {
    color: turquoise;
}

a:hover {
    text-decoration: underline;
    color: cyan;
}

.profile-pic {
    padding-top: 50px;
    width: 200px;
    height: auto;
}

.title {
    font-size: 30px;
}

#portfolio {
    padding: 40px;
}

.project {
    scroll-padding-bottom: 25px;
}

.contact-info {
    font-weight: 700;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 700;
    border-top: solid rgb(86, 86, 86) 1px;
    margin-top: 100px;
}

.nav-footer {
    display: none;
}

@media (min-width: 768px) {
    .container {
      display: flex;
      flex-wrap: wrap;
      padding-top: 100px;
    }

  .col {
    flex-basis: calc(50% - 20px);
  } 
  .nav li, a {
    display: inline-block;
  }

  .section-1 {
    display: flex;
    flex-direction: row-reverse;
    background-color: #f8faf1;
  }
  .profile-pic {
    padding-top: 0px;
    width: auto;
    height: auto;
  }
  
  .bio {
    width: 55%;
    padding: 25px;
    text-align: left;
    margin-top: 0;
    font-size: 1.25em;
  }
  #portfolio {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .nav-footer {
    display: flex;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    color: rgb(57,57,57);
  }
  .nav-footer li {
    list-style: none;
    padding-left: 20px;
}
  .top {
    display: none;
  }
}